<!doctype html>
<html>
   <head>
      <title>Evaluation</title>
      <meta name="viewport" content="width=device-width" />
      <link href="/css/style.css" rel="stylesheet" type="text/css">
      <link href="/css/font-awesome.css" type="text/css">
   </head>
   <body>
      <div>
         <a class="black" style="margin-left:30px;" href="/inserthotel"> Insert new </a>

      </div>
      <br>
      <div class="container">
         <div class="text-center center" >
            <h1> TOP HOTELS</h1>
                        <%if (message != undefined) { %>

               <p class="error" > <%= message %> </p >
     
<% } %>
         </div>
         <div class="container nav" >
            <p >
               Home > Best Hotels > <%= cityname %>
            </p>
            <h3>BEST HOTELS</h3>
         </div>
         <div class="hotels-grid">
            <% besthotels.forEach(function(hotel){ %>
      
            <div class="hotel">
               <img class="center img-hotel" src="<%= hotel.image %>">
               <br>
               <div class=" ">
                  <h3><%= hotel.name %>  
                     <% for(var i=0; i<hotel.stars; i++) {%>
                     <img src="/images/star.png">
                     <% } %>
                  </h3>
                  <p class="description grey"> <%= hotel.description %> </p>
                  <div class="price grey">
                     <%= hotel.price %> $
                  </div>
                
               </div>
                 <div class="buttons-black" style="display:block">
                     <form method="POST"  action="/BestHotels/<%= cityname %>/<%=hotel.id%>/edit ">                  
                        <input type="submit" value="EDIT" class="black"> 
                     </form>
                     <form method="POST"  action="/BestHotels/<%= cityname %>/">   
                        <input type="hidden" name="name" value="<%=hotel.name%>">               
                        <input type="submit" value="DELETE" class="black delete"> 
                     </form>
                  </div>
            </div>
            <%  }) %>
            <br>
         </div>
      </div>
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
      <script src="/js/scripts.js"></script>
   </body>
</html>