<!doctype html>
<html>
   <head>
      <title>   <%= title %></title>
      <meta name="viewport" content="width=device-width" />
      <link href="css/style.css" rel="stylesheet" type="text/css">
      <link href="css/font-awesome.css" type="text/css">
   </head>
   <body>
      <div class="text-center">
         <div class="row">
            <div class="flex-item"></div>
         </div>
      </div>
      </div>
      <div class="">
         <div class="container nav" >
            <p >

                Home >  <span class="cityName"> </span>
             </p>
            
             <h1>
                 BACKOFFICE <span class="cityName"> </span>
             </h1>
                    <%if (message != undefined) { %>
            <ul class="errors">
           
                   <li class="error_ul"> <%= message %> </li>
                        
           </ul>
<% } %>
         </div>
         <div class="buttons-grid">
         <% cities.forEach(function(city){ %>
 		<div class="button">
               
              <input type="button" class="btn" value="<%= city.name %>" onclick="Weather('<%= city.name %>');ShowContent();getExternal('<%= city.name %>'); ChangeCityName('<%= city.name %>');">
                
               
            </div>
       <%  }) %>
           
           

         </div>
      </div>
 
      <div class="content" style="display:none;">
         <div class="title">
           <span class="city-name">
                 LOS ANGELES
           </span>
          
            
            <br>
 
            <img class=" main-img changable">
            
         </div>
                
         <div class="more-images ">
            <div class="item">
               <img class="image img1">
            </div>
            <div class="item">
               <img  class="image img2">
            </div>
            <div class="item">
               <img  class="image img3">
            </div>
            <div class="item">
               <img class="image img4">
            </div>
            <div class=" item special-item" >
                   
                    <h2 class="title-grey">Lastest tweets</h2>   
                    <div class="tweet">
                <div class="bold">
                    mariot says:
                </div>
                <p class="grey">
                    #LA is REALLY COOL!
                </p>
                </div>
                  <div class="tweet">
                <div class="bold">
                    mariot says:
                </div>
                <p class="grey">
                    #LA is REALLY COOL!
                </p>
                </div>
                  <div class="tweet">
                <div class="bold">
                    mariot says:
                </div>
                <p class="grey">
                    #LA is REALLY COOL!
                </p>
                </div>
             </div>
             <div class="item">
               <img  class="image  img5">
            </div>
            <div class="item">
               <img class="image  img6">
            </div>
            <div class="item">
               <img  class="image  img7">
            </div>
            <div class="item">
               <img  class="image  img8">
            </div>
            <div class="empty">
             <div class="info item">
             
               <div class="weath" style="display:block">
                <span class="weather-loc"> Local weather</span>
                 <div id="weather">

                  </div>
                </div>
             </div>
            </div>
         </div>
         
         <div class="more-images">
            
             </div>
             <div class="buttons-grid-2" style="margin-left:30%;">
          <div class="item2">
              <a href="" class="btn-2 hotels tophotels">Best hotels</a>
              
          </div>
          
          <div class="item2">
              <a href="" class="btn-2 promotions toppromotions">Top promotions </i></a>
          </div>
</div>
      </div>
         </div>

      </div>
      
         <footer>
              IPCA ALL RIGHTS RESERVED
             
          
      </footer>
      </div>
   
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
       <script src="js/jquery.simpleWeather.js"></script>
      <script src="js/scripts.js"></script>
      <script>
          function Click(){
              var st = $('#aioConceptName');

st.change(function(){
    // $(this) references the current <select>
    console.log($(this).val());
});
             
          }
       

</script>
       
   </body>
   
</html>