<!doctype html>
<html>
   <head>
      <title>Evaluation</title>
      <meta name="viewport" content="width=device-width" />
      <link href="css/style.css" rel="stylesheet" type="text/css">
      <link href="css/font-awesome.css" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<!-- Latest compiled and minified JavaScript -->

   </head>
   <body>
    <div class="container">
        <div class="text-center center" >
       
        
        </div>
           <div class="container nav"  >
            <p >
                Home > Insert New Hotel
             </p>
           
       </div>
       <div class="form text-center" style="margin-left:35%">
           <h1 >INSERT NEW HOTEL</h1>
              <%if (message != undefined) { %>
        <ul class="">
   
   
               <li> <%= message %> </li>
               
           
  
       </ul>
<% } %>

        <%if (errors) { %>
        <ul>
   <% errors.forEach(function(error){ %>
   
               <li> <%= error.msg %> </li>
               
           
       <%  }) %>
       </ul>
<% } %>

          
           <form action="/inserthotel" method="POST" enctype="multipart/form-data">
               
               <label for="name">Name</label>
               <input type="text" name="name" id="name">
               <p>Description</p>
               <textarea name="description"></textarea>
               <p> Stars</p>
             <div id="rateYo"></div>
             <input type="hidden" value="" name="rating_saved" id="rating_saved">
               <p> Price </p>
               <input type="text" name="price">
               <p> Choose the city in which it is situated: </p>
               <select name="city">
                <% cities.forEach(function(city){ %>
                  <option  value="<%= city.name %>"><%=city.name %></option>
            <%  }) %>
               </select>
               <p> Is it a best hotel? </p>
               <input type="radio" name="besthotel" value="1"> Yes<br>
               <input type="radio" name="besthotel" value="0"> No<br>

                <p> Is it included in promotions? </p>
               <input type="radio" name="promotions" value="1"> Yes<br>
               <input type="radio" name="promotions" value="0"> No<br>
         
               <p> Image </p>
                    <input name="image" type="file">
               <br>
               <br>
              <input  type="submit">
           </form>
       </div>
      
        
        
    </div>
     
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>

      <script src="js/scripts.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
      <script type="text/javascript">
       $("#rateYo").rateYo({
         
        fullStar: true

 
      });

        $("#rateYo").rateYo()
        .on("rateyo.set", function(e, data) {

              console.log(1);
               $('#rating_saved').val(data.rating);
                            

            });
            
</script>
   </body>
   
</html>