 @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #EFEFEF;
}
.promo {
  border: 1px solid #e5e5e5;
  display: inline-flex;
  width: 800px;
  min-height: 350px;
  padding: 20px;
}




.text{
    font-size:30px;
    text-align: center;
    color: grey;
    text-transform: uppercase;
}
.smaller{
    font-size:20px;
}

.buttons-grid{
        display: flex;
    flex-flow: row wrap;
     
    margin-top:50px;
        width: 100%;
    
}
.button{
        margin-left: 52px;
}
.btn{
        margin-bottom: 10px;
    width: 140px;
    background: lightgrey;
    padding: 10px;
    border: none;
    color: white;
    font-size: 15px;
    margin-right: 50px;
       
    text-transform: uppercase;
    margin-left:10px;
}
.title{
    text-align: center;
    font-size:30px;
    color:lightpink;
    margin-top:50px;
}

.xs{
    width: 85%;
}
.more-images{
  margin-left:20px;
    margin-top:20px;
}
.item{
          flex: 5 200px;
    display: flex;
    flex-direction: column flex: 0 100px;
    margin-right: 20px;

    padding: 20px;
    text-align: center;
}
footer{
    background: lightgrey;
    text-align: center;
    margin-top: 60px;
    color: white;
    padding:20px;
}
.active-btn{
    background: grey;
    color:pink;
}
.weather-loc{
    
    margin-bottom:20px;
    color: grey;
    font-size: 20px;
    text-align: center;
    margin-top:20px;
}
.more-images{
       display: flex;
    flex-flow: row wrap;
}
.info{
    
    margin-top:29px;
}

.empty{
    width:271px;
}
.active{
    display:block;
}

.changable{
    margin-top:20px;
   
}
.buttons-grid-2, .hotels-grid{
        display: flex;
          
   
   
    margin-top:50px;
    
 
}
.item2{
    display: inline-block;
    margin-left:50px;
}
.btn-2{
    border: none;
    font-size:17px;
    color:white;
    border-radius:15px;
    background: green;
    padding:10px 30px 10px 30px;
    text-decoration: none;
}
.toppromotions{
    background: darkviolet;
}
.hotels{
    background: orange;
}
.title-grey{
    color:grey;
}
.bold{
    font-weight: bold;
}
.special-item{
    display:block;
    text-align: left;
}
.grey{
    color:grey;
    font-size:15px;
}
.nav{
    margin-left:20px;
}
.center{
    text-align: center;
}
.hotels-grid{
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
    width: 100%;

}
.hotel{
 
    margin-bottom: 10px;
       
    padding: 20px;
        width: 443px;
        border: 1px lightgrey solid;
        margin-right:10px;
        margin-left:10px;

 
}
.center2{
        float: left;
}
.black{
    margin-top:20px;
    display: inline;
    padding: 20px;
    border: none;
    color:white;
    background: black;
    float: left;
   
}
.img-hotel{
    margin-left:10%;
}
.form{
    margin-left:15px;
}
.margin{
    margin-top:15px;
}
.hotel2{
        width: 25%;
}
.delete{
    float:right;

}
 .error{
        padding: 10px;
    border: 1px red solid;
    margin: 20px;
    background: lightcoral;
    font-weight: bold;
    font-size: 20px;
 }
@media screen and (max-width: 700px) {
    .button{
        margin: 0;
    }
    .changable{
        width: 100%;
            margin-left: 10%;
    }
    .more-images{
               margin-left: 28%;
    }
    .buttons-grid{
            margin-left: 20%;
    }
    footer{
            width: 120%;
    }
